@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    color: #1c1c1c;
    scroll-behavior: smooth;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.max {
  max-width: 1300px;
}

/* Canvas Component */
.backdrop {
  background: rgba(0, 0, 0, 0.65);
}

/* Modal Animation */

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.select {
  height: 45px;
}

@media screen and (min-width: 850px) {
  .select {
    height: auto;
  }
}

.break {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.container {
  @apply max-w-[1400px];
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.text-outline {
  color: #f1f5f9;
  -webkit-text-fill-color: #004c8f; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f1f5f9;
}

/* Removes the outline color on focus that Flowbite adds by default */
[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  box-shadow: none !important;
}
